.gradle/
.idea/
.kotlin/
**/build/
local.properties
.DS_Store
*.iml
*.log
.externalNativeBuild/
.cxx/
node_modules/
kotlin-js-store/
composeApp/build/
iosApp/iosApp.xcodeproj/xcuserdata/
iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/
iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
secrets.properties
*.jks
*.keystore
/composeApp/src/commonMain/sqldelight/migrations/2.db