<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation
        android:name="dev.ed3c.autowebview.evidence.android.AndroidAutomationEvidenceInstrumentation"
        android:targetPackage="${applicationId}"
        android:label="KAW bounded device evidence" />
</manifest>
